<div [class]="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" (click)="homepage()" >LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link border_btn" >Special Occasion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link theme_btn" *ngIf="!login" (click)="openDialog()">Login/Signup</a>
                    </li>
                    <li class="profile_head" *ngIf="login">
                        <button   (click)="getproile()" class="btn dropdown-toggle ng-star-inserted"  type="button"><div _ngcontent-wmb-c3="" class="header-btns-icon">
                          <figure class="ng-star-inserted"><img   [src]="imgurl+profilepic"></figure></div><span class="text-uppercase ng-star-inserted">{{usernmae}}</span></button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                        <div id="nav_drop_1" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" (click)='gotoNotification()'>Notifications</a>
                            <a class="dropdown-item" (click)='gotoOrders()'>My Orders</a>
                            <a class="dropdown-item" (click)='gotoFoodCategory()'>My Favorites</a>
                            <!-- <a class="dropdown-item" href="#">Settings</a> -->
                            <a class="dropdown-item" (click)='gotoaboutUs()'>About Us</a>
                            <a class="dropdown-item" (click)='gotocheckout()'>Cart Page</a>
                            <a class="dropdown-item" (click)='gotoKitchen()'>Kitchen</a>
                            <a class="dropdown-item" (click)='gotoProductDetail()'>Product Detail</a>
                            <a class="dropdown-item" (click)='gotoFaQ()'>FAQ</a>
                            <a class="dropdown-item" *ngIf="login" (click)="openDialog()"> Logout </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div [class]="header5"></div>
