<footer class="footer">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1 class="footer_logo"> LOGO </h1>
                </div>
                <div class="col-md-3">
                    <h3> About </h3>
                    <p> We are a business that believes in fine dining at home. We believe in communities and local ingredients and the smiles that come from digging into delicious food. That is why everything from our tech to the kitchens is based right
                        here in Australia. </p>
                </div>
                <div class="col-md-3">
                    <h3> Explore </h3>
                    <p> <a (click)='gotoHowitwork()'> How it works </a> </p>
                    <p> <a (click)='gotoaboutUs()'> About </a> </p>
                </div>
                <div class="col-md-3">
                    <h3> For cook </h3>
                    <p> <a href="http://join.yumma.com.au/"> Join as a cook </a> </p>
                    <p> <a href="#"> Login </a> </p>
                </div>
                <div class="col-md-3">
                    <h3> Connect us with : </h3>
                    <ul class="s_icon">
                        <li> <a href="#"><i class="fa fa-facebook"></i> </a> </li>
                        <li> <a href="#"><i class="fa fa-pinterest-p"></i> </a> </li>
                        <li> <a href="#"><i class="fa fa-instagram"></i> </a> </li>
                        <li> <a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="footer_links">
                        <li> <a href="#">Terms & Conditions </a> </li>
                        <li> <a href="#">Privacy Policy </a> </li>
                        <li> <a href="#">FAQ </a> </li>
                        <li> <a href="#">Blog </a> </li>
                    </ul>
                </div>
                <div class="col-12 copyright">
                    <p> Copyrights Reserved to <span class="theme_color"> @Yumma </span> 2020 </p>
                </div>
            </div>
        </div>
    </div>
</footer>
