<div class="body_wrapper notification_top">
    <app-header></app-header>
    <div class="my_order all_sec_my">
        <div class="container">
            <div class="my_order_outter">
                <h2 class="heading"> My Orders </h2>
                <mat-tab-group animationDuration='0ms'>
                    <mat-tab label="Completed">
                        <div class="On_Going completed">
                            <div class="left_side">
                                <ul>
                                    <li>
                                        <div class="Daily_dish_box active">
                                            <div class="dish_detail">
                                                <figure>
                                                    <img src="assets/images/cat_img_1.png" alt="">
                                                    <img class="fav_icon" src="assets/images/fav_icon.png" alt="">
                                                </figure>
                                                <div class="content_box">
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Spinach Salad
                                                    </h3>
                                                    <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot.... </p>
                                                    <h4> $7.90 </h4>
                                                    <h5> Delivered </h5>
                                                </div>
                                                <div class="content_box_2">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Daily_dish_box">
                                            <div class="dish_detail">
                                                <figure>
                                                    <img src="assets/images/cat_img_1.png" alt="">
                                                    <img class="fav_icon" src="assets/images/fav_icon.png" alt="">
                                                </figure>
                                                <div class="content_box">
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Spinach Salad
                                                    </h3>
                                                    <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot.... </p>
                                                    <h4> $7.90 </h4>
                                                    <h5> Delivered </h5>
                                                </div>
                                                <div class="content_box_2">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Daily_dish_box">
                                            <div class="dish_detail">
                                                <figure>
                                                    <img src="assets/images/cat_img_1.png" alt="">
                                                    <img class="fav_icon" src="assets/images/fav_icon.png" alt="">
                                                </figure>
                                                <div class="content_box">
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Spinach Salad
                                                    </h3>
                                                    <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot.... </p>
                                                    <h4> $7.90 </h4>
                                                    <h5> Delivered </h5>
                                                </div>
                                                <div class="content_box_2">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="right_side">
                                <div class="heading">
                                    <h3> #OD1248-85225 </h3>
                                    <p> Delivered </p>
                                </div>
                                <div class="food_cart_mrnuaside food_cart_aside2">
                                    <div class="food_order_bill">
                                        <div class="order_topsec">
                                            <h3> <span class="theme_color"> #OD1248-85225 </span> Successfully Delivered at 10:30 AM</h3>
                                        </div>
                                        <div class="order_bill_item">
                                            <ul>
                                                <li>
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt="">
                                                        <span> Healthy Eggless Spinach Salad </span>
                                                        <div class="orderadd_cart_box">
                                                            <a>-</a>
                                                            <p>01</p>
                                                            <a>+</a>
                                                        </div>
                                                    </h3>
                                                    <h5> Indian Cafe House </h5>
                                                    <!-- <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot... </p> -->
                                                    <h4> $7.90 </h4>
                                                </li>
                                                <li>
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt="">
                                                        <span> Healthy Eggless Spinach Salad </span>
                                                        <div class="orderadd_cart_box">
                                                            <a>-</a>
                                                            <p>01</p>
                                                            <a>+</a>
                                                        </div>
                                                    </h3>
                                                    <h5> Indian Cafe House </h5>
                                                    <!-- <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot... </p> -->
                                                    <h4> $7.90 </h4>
                                                </li>
                                            </ul>
                                            <div class="Instruction_textarea">
                                                <label>Special Instructions</label>
                                                <textarea placeholder="Add some green chillies and send extra salad" rows="5"></textarea>
                                            </div>
                                            <div class="cart_total">
                                                <h3>Cart Totals </h3>
                                                <ul>
                                                    <li>
                                                        <p>Sub total</p> <span> $10.40 </span> </li>
                                                    <li>
                                                        <p>Delivery fee</p> <span> $0.50 </span> </li>
                                                    <li>
                                                        <p>Service fee</p> <span> $0.50 </span> </li>
                                                    <li>
                                                        <p>Grand total</p> <span> $11.40 </span> </li>
                                                </ul>
                                            </div>
                                            <div class="order_location">
                                                <div class="card">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 30.18 30.18">
                                                    <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)" fill="#ff5a61"/>
                                                </svg>
                                                    <div class="text">
                                                        <h3>
                                                            <p> Your Address </p> 23715 Malibu Road, Malibu, CA
                                                        </h3>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="barBQ">
                                                <h2> Bar B Q Tonight </h2>
                                                <p> Phase 5, Mohali, 1.2Km </p>
                                            </div>
                                            <a href="#" class="terms_conditions">
                                                <h3> Terms and Conditions </h3>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="On-Going">
                        <div class="On_Going">
                            <div class="left_side">
                                <ul>
                                    <li>
                                        <div class="Daily_dish_box active">
                                            <div class="dish_detail">
                                                <figure>
                                                    <img src="assets/images/cat_img_1.png" alt="">
                                                    <img class="fav_icon" src="assets/images/fav_icon.png" alt="">
                                                </figure>
                                                <div class="content_box">
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Spinach Salad
                                                    </h3>
                                                    <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot.... </p>
                                                    <h4> $7.90 </h4>
                                                    <h5> On the way </h5>
                                                </div>
                                                <div class="content_box_2">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="right_side">
                                <div class="heading">
                                    <h3> #OD1248-85225 </h3>
                                    <p> On the way </p>
                                </div>
                                <div class="food_cart_mrnuaside food_cart_aside2">
                                    <div class="food_order_bill">
                                        <div class="order_topsec">
                                            <h3> <span class="theme_color"> #OD1248-85225 </span> is on the way</h3>
                                        </div>
                                        <div class="order_bill_item">
                                            <ul>
                                                <li>
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt="">
                                                        <span> Healthy Eggless Spinach Salad </span>
                                                        <div class="orderadd_cart_box">
                                                            <a>-</a>
                                                            <p>01</p>
                                                            <a>+</a>
                                                        </div>
                                                    </h3>
                                                    <h5> Indian Cafe House </h5>
                                                    <!-- <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot... </p> -->
                                                    <h4> $7.90 </h4>
                                                </li>
                                                <li>
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt="">
                                                        <span> Healthy Eggless Spinach Salad </span>
                                                        <div class="orderadd_cart_box">
                                                            <a>-</a>
                                                            <p>01</p>
                                                            <a>+</a>
                                                        </div>
                                                    </h3>
                                                    <h5> Indian Cafe House </h5>
                                                    <!-- <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot... </p> -->
                                                    <h4> $7.90 </h4>
                                                </li>
                                            </ul>
                                            <div class="Instruction_textarea">
                                                <label>Special Instructions</label>
                                                <textarea placeholder="Add some green chillies and send extra salad" rows="5"></textarea>
                                            </div>
                                            <div class="cart_total">
                                                <h3>Cart Totals </h3>
                                                <ul>
                                                    <li>
                                                        <p>Sub total</p> <span> $10.40 </span> </li>
                                                    <li>
                                                        <p>Delivery fee</p> <span> $0.50 </span> </li>
                                                    <li>
                                                        <p>Service fee</p> <span> $0.50 </span> </li>
                                                    <li>
                                                        <p>Grand total</p> <span> $11.40 </span> </li>
                                                </ul>
                                            </div>
                                            <div class="order_location">
                                                <div class="card">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 30.18 30.18">
                                                    <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)" fill="#ff5a61"/>
                                                </svg>
                                                    <div class="text">
                                                        <h3>
                                                            <p> Your Address </p> 23715 Malibu Road, Malibu, CA
                                                        </h3>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="barBQ">
                                                <h2> Bar B Q Tonight </h2>
                                                <p> Phase 5, Mohali, 1.2Km </p>
                                            </div>
                                            <a href="#" class="terms_conditions">
                                                <h3> Terms and Conditions </h3>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Scheduled">
                        <div class="On_Going">
                            <div class="left_side">
                                <ul>
                                    <li>
                                        <div class="Daily_dish_box active">
                                            <div class="dish_detail">
                                                <figure>
                                                    <img src="assets/images/cat_img_1.png" alt="">
                                                    <img class="fav_icon" src="assets/images/fav_icon.png" alt="">
                                                </figure>
                                                <div class="content_box">
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Spinach Salad
                                                    </h3>
                                                    <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot.... </p>
                                                    <h4> $7.90 </h4>
                                                    <h5> Scheduled for December 24, 7:00 PM </h5>
                                                </div>
                                                <div class="content_box_2">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="right_side">
                                <div class="heading">
                                    <h3> #OD1248-85225 </h3>
                                    <p> 24 December 2020, 7:00 PM </p>
                                </div>
                                <div class="food_cart_mrnuaside food_cart_aside2">
                                    <div class="food_order_bill">
                                        <div class="order_topsec">
                                            <h3> <span class="theme_color"> #OD1248-85225 </span> is on the way</h3>
                                        </div>
                                        <div class="order_bill_item">
                                            <ul>
                                                <li>
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt="">
                                                        <span> Healthy Eggless Spinach Salad </span>
                                                        <div class="orderadd_cart_box">
                                                            <a>-</a>
                                                            <p>01</p>
                                                            <a>+</a>
                                                        </div>
                                                    </h3>
                                                    <h5> Indian Cafe House </h5>
                                                    <!-- <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot... </p> -->
                                                    <h4> $7.90 </h4>
                                                </li>
                                                <li>
                                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt="">
                                                        <span> Healthy Eggless Spinach Salad </span>
                                                        <div class="orderadd_cart_box">
                                                            <a>-</a>
                                                            <p>01</p>
                                                            <a>+</a>
                                                        </div>
                                                    </h3>
                                                    <h5> Indian Cafe House </h5>
                                                    <!-- <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot... </p> -->
                                                    <h4> $7.90 </h4>
                                                </li>
                                            </ul>
                                            <div class="Instruction_textarea">
                                                <label>Special Instructions</label>
                                                <textarea placeholder="Add some green chillies and send extra salad" rows="5"></textarea>
                                            </div>
                                            <div class="promo_code">
                                                <div class="card">
                                                    <p> Christmas2020 - <span class="theme_color"> 20% Off on or above $10 Order </span> </p>
                                                    <h3 class="theme_color"> Applied </h3>
                                                </div>
                                            </div>
                                            <div class="cart_total">
                                                <h3>Cart Totals </h3>
                                                <ul>
                                                    <li>
                                                        <p>Sub total</p> <span> $10.40 </span> </li>
                                                    <li>
                                                        <p>Delivery fee</p> <span> $0.50 </span> </li>
                                                    <li>
                                                        <p>Service fee</p> <span> $0.50 </span> </li>
                                                    <li>
                                                        <p>Grand total</p> <span> $11.40 </span> </li>
                                                </ul>
                                            </div>
                                            <div class="order_location">
                                                <div class="card">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 30.18 30.18">
                                                      <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)" fill="#ff5a61"/>
                                                  </svg>
                                                    <div class="text">
                                                        <h3>
                                                            <p> Your Address </p> 23715 Malibu Road, Malibu, CA
                                                        </h3>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="barBQ">
                                                <h2> Bar B Q Tonight </h2>
                                                <p> Phase 5, Mohali, 1.2Km </p>
                                            </div>
                                            <a href="#" class="terms_conditions">
                                                <h3> Terms and Conditions </h3>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
