<div class="body_wrapper cart_page">
    <app-header></app-header>
    <section class="congrats_sec">
        <div class="congrats_main">
            <div class="congrats_img">
                <figure>
                    <img src="../../../assets/images/cartpage/congratsimg.png" alt="">
                </figure>
            </div>
            <div class="congrats_next_btn">
                <h2>Congratulations!</h2>
                <p>Your order has been sent. In about 50 minutes it should be at your door.</p>
                <button (click)="goTotrackingpage()">Track your Order</button>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>