<div class="body_wrapper notification_top">
    <app-header></app-header>
    <div class="order_detail_main all_sec_my">
        <div class="conta_iner">
            <div class="orderdetail_inner">

                <div class="sub_main_heading">
                    <h2>My Orders</h2>
                </div>
                <div class="way_btn_main">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./homepage">Home</a></li>
                            <li class="breadcrumb-item"><a href="./orders">My order</a></li>
                            <li class="breadcrumb-item active" aria-current="orderdetail">Order ID: 1234556</li>
                        </ol>
                    </nav>
                    <div class="way_btn">
                        <div class="green_bg"></div>
                        <button>On the way</button>
                    </div>
                </div>
                <div class="form_orderdetail">
                    <div class="orderdetail_form">
                        <ul>
                            <h3>Contact Information</h3>
                            <div class="half">
                                <li>
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" placeholder="First name" name="name">
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="tel" placeholder="Phone Number" name="name">
                                    </mat-form-field>
                                </li>
                            </div>
                            <li>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="email" placeholder="Email Address" name="name">
                                </mat-form-field>
                            </li>
                        </ul>
                        <ul>
                            <h3>Billing Information</h3>
                            <li>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="#1234, Sector 7, Panchkula " name="name">
                                </mat-form-field>
                            </li>
                            <div class="half">
                                <li>
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" placeholder="Panchkula " name="name">
                                    </mat-form-field>
                                </li>
                                <li>
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" placeholder="Haryana" name="name">
                                    </mat-form-field>
                                </li>
                            </div>
                            <li>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text"
                                        placeholder="Kindly call me once you arrived at the delivery location"
                                        name="name">
                                </mat-form-field>
                            </li>
                        </ul>
                        <ul class="payment_last">
                            <h3>Payment</h3>
                            <li>
                                <div class="card_detail">
                                    <div class="card_detail_inner_left">
                                        <h5>•••• •••• •••• 4561<span>Visacard - 06/23</span></h5>
                                    </div>
                                    <div class="payment_paid">
                                        <h5>Paid KES 29.05 through </h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="order_summary">
                        <h3>Order Summary</h3>
                        <div class="ordersummary_inner">
                            <ul>
                                <li>
                                    <div class="inner_summary">
                                        <div class="text_detaill">
                                            <h5>Quattro Formaggi</h5>
                                            <p><span>KES 8.50</span>Tomato sauce, mozzarella, romano, olive oil and
                                                basil
                                                sauce,
                                                mozzarella, romano, … read more</p>
                                        </div>
                                        <div class="number_detail">
                                            <h5>1</h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner_summary">
                                        <div class="text_detaill">
                                            <h5>Quattro Formaggi</h5>
                                            <p><span>KES 8.50</span>Tomato sauce, mozzarella, romano, olive oil and
                                                basil
                                                sauce,
                                                mozzarella, romano, … read more</p>
                                        </div>
                                        <div class="number_detail">
                                            <h5>1</h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner_summary">
                                        <div class="text_detaill">
                                            <h5>Quattro Formaggi</h5>
                                            <p><span>KES 8.50</span>Tomato sauce, mozzarella, romano, olive oil and
                                                basil
                                                sauce,
                                                mozzarella, romano, … read more</p>
                                        </div>
                                        <div class="number_detail">
                                            <h5>1</h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner_summary">
                                        <div class="text_detaill">
                                            <h5>Quattro Formaggi</h5>
                                            <p><span>KES 8.50</span>Tomato sauce, mozzarella, romano, olive oil and
                                                basil
                                                sauce,
                                                mozzarella, romano, … read more</p>
                                        </div>
                                        <div class="number_detail">
                                            <h5>1</h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner_summary">
                                        <div class="text_detaill">
                                            <h5>Quattro Formaggi</h5>
                                            <p><span>KES 8.50</span>Tomato sauce, mozzarella, romano, olive oil and
                                                basil
                                                sauce,
                                                mozzarella, romano, … read more</p>
                                        </div>
                                        <div class="number_detail">
                                            <h5>1</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="summary_result">
                            <h4>Promo code - DASH50% is applied</h4>
                            <ul>
                                <li>
                                    <div class="result_detail">
                                        <div class="result_detail_left">
                                            <h5>Total</h5>
                                        </div>
                                        <div class="result_detail_right">
                                            <h5>KES 29.05</h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="result_detail">
                                        <div class="result_detail_left">
                                            <h5>Delivery</h5>
                                        </div>
                                        <div class="result_detail_right">
                                            <h5>KES 29.05</h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="result_detail">
                                        <div class="result_detail_left">
                                            <h5>Total</h5>
                                        </div>
                                        <div class="result_detail_right">
                                            <h5>KES 29.05</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>