<app-header></app-header>
<div class="aboutus_page">
    <section class="aboutus_banner">
        <img src="assets/images/aboutus_img.png" alt="">
        <div class="content">
            <h2 class="heading"> About Us
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </h2>
            <h3> Food. Flavor. Fun. </h3>
            <p> Healthy food, healthy communities! </p>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="who_we_are">
                <h2> Who We Are? </h2>
                <p> We strive to bring out the authentic family recipes! <br> Every community deserves to be treated with care, love, health, and happiness. We strive to empower kitchen professionals make a living while doing what they enjoy. We connect them
                    with hungry neighbors looking for fresh, local food. We are living in a world where most of us rely on fast food options and do not get the proper nutrients that we deserve. This is the reason we allow kitchen professionals to offer
                    the best services to neighbors who need access to healthy food. </p>
            </div>
        </div>
    </section>
    <section class="we_aim">
        <div class="container">
            <h2> We Aim To Enrich The Lifestyles Of All Of Our Users </h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/weaim.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p> When you order with us, you receive healthy food straight from the kitchen of your neighbor. Someone who lovingly cooked a meal for you, who can supply authentic cuisine: you can find Thai, Italian, Mexican, cakes, soul food, and more
                        with us. Relish the homey flavors and savor a freshness that you never want to surrender. In addition to attracting talent and passion, we guarantee quality from our cooks. Our vetting process is transparent so you can dig in without
                        abandon.
                    </p>
                    <p>
                        Our chefs can make money off their talents without becoming a servant to a commercial operation. They initiate offerings so they incur a workload they prefer, and this in turn puts quality food in the hands of neighbors who browse through the options
                        of the day. Food lovers enjoy excitement with the variety and spontaneity of menu developments, and they can cultivate a truly personal relationship with those who are nurturing them in the kitchen.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="our_value">
        <div class="container">
            <h2> Our Values </h2>
            <p> Explore wonderful options today, and support local chefs who dream and concoct from their own homes. Your spirit and your taste buds will be rewarded </p>
        </div>
        <div class="our_value_inner">
            <div class="box_50">
                <div class="content_left">
                    <h3> Sharing Joy </h3>
                    <h4> Feel the joy of sharing delicious food. </h4>
                </div>
            </div>
            <div class="box_50">
                <img src="assets/images/our_value_1.png" alt="">
            </div>
            <div class="box_50">
                <img src="assets/images/our_value_2.png" alt="">
            </div>
            <div class="box_50">
                <div class="content_right">
                    <h3> Connecting Community </h3>
                    <h4> Passionate cooks that bring communities together </h4>
                </div>
            </div>
            <div class="box_50">
                <div class="content_left">
                    <h3> Serving Neighbors </h3>
                    <h4> Healthy Food. Healthy Life. </h4>
                </div>
            </div>
            <div class="box_50">
                <img src="assets/images/our_value_3.png" alt="">
            </div>
            <div class="box_50">
                <img src="assets/images/our_value_4.png" alt="">
            </div>
            <div class="box_50">
                <div class="content_right">
                    <h3> Lucrative Opportunities </h3>
                    <h4> We empower chefs! </h4>
                </div>
            </div>
        </div>
    </section>
    <section class="our_story">
        <div class="container">
            <h2> Our Story </h2>
            <div class="row">
                <div class="col-md-6">
                    <p> It started with an idea. An idea to start a food business from home. An idea to serve the neighborhood with the best food options that are healthy and authentic.
                    </p>
                    <p>
                        We realized that it was quite challenging for a single person to manage all the business operations. Dealing with countless tasks, such as marketing, bookkeeping, complaints, ordering, and more can have a profound effect on the cooking. We decided to
                        bring a change.
                    </p>
                    <p>
                        When we cook for our friends and family, the experience is so joyful that there are no operations attached to that, however, when taking that passion to serve larger communities did not have same experience due to the business operations involved in that.
                    </p>
                    <p>
                        We would like to provide kitchen professionals the same joy as if they are cooking for friends and family. We believe the food is great when it’s coming out of passion not due to need.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/our_story.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="store_link">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <figure class="mobile_app">
                        <img src="assets/images/mobile_app_img.png" alt="">
                    </figure>
                </div>
                <div class="col-md-6 mobile_app_content">
                    <h2> THERE IS MUCH MORE LOVE IN THE APP </h2>
                    <p> Download The App Now At : </p>
                    <div class="row store_btn">
                        <img src="assets/images/play_store.png" alt="">
                        <img src="assets/images/app_store.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
