ul.contact_form {margin:auto;margin-top:40px;width:62%;text-align:center;}
ul.contact_form li {border-bottom:1px solid #70707038;margin-bottom:10px;padding:16px 20px;}
textarea {resize:unset!important;height:70px;}
.contact_inner button {color:#fff;font-size:18px;background:#FF5A61;border:none;padding:11px 72px;border-radius:6px;margin-top:40px;}
.contact_inner_form {text-align:center;}
agm-map.sebm-google-map-container {height:500px;}
.contact_detail {display:flex;justify-content:space-between;align-items:center;}
.contact_detail_left {width:45%;}
.contact_detail_right {width:45%;}
.contact_detail h5 {font-size:14px;justify-content:space-between;display:flex;align-items:center;color:#666666;}
.contact_detail_left b {color:#3E9A00;font-size:14px;font-weight:bold;width:30%;text-align:right;}
.contact_detail h4 {color:#000000;font-size:20px;}
.contact_detail_left_map {margin:40px 0;}
.contact_form button {background:#FF5A61;border:none;color:#fff;margin-top:40px;font-size:18px;padding:11px 72px;border-radius:6px;}
