<app-header></app-header>
<div class="Product_detail_page">
    <section class="Kitchen_image">
        <div class="container">
            <img src="assets/images/kitchen_img.png" alt="">
        </div>
    </section>
    <section class="kitchen_tab_outter">
        <div class="container">
            <div class="Overview">
                <div class="Daily_dish_box Daily_dish_box2">
                    <div class="dish_detail">
                        <div class="content_box">
                            <div class="heading_box">
                                <h3> Bbq's Special Veggie Salad
                                    <p> A Bucket full of fun for friends!! 3pcs Hot & Crispy, 3pcs Hot....A Bucket </p>
                                </h3>
                                <img class="fav_icon" src="assets/images/fav_icon.png" alt="">
                            </div>
                            <ul class="kitchen_rating">
                                <li> <span> <i class="fa fa-star"></i> </span>
                                    <p> 4.5 (1.2k) </p>
                                </li>
                                <li>
                                    <span> <i class="fa fa-map-marker"></i>
                              </span>
                                    <p> 800m </p>
                                </li>
                                <li> Flat 50% </li>
                                <li> 500 + Orders </li>
                            </ul>
                            <div class="prize">
                                <h3> $7.90 </h3>
                                <div class="orderadd_cart_box">
                                    <a>-</a>
                                    <p>01</p>
                                    <a>+</a>
                                </div>
                            </div>
                            <div class="Description">
                                <h3> Description </h3>
                                <p> There are lots of famous and delicious beef steak Japan Within those steaks, Kobe beef is one of a best beef steaks in Japan which are.There are lots of famous and delicious beef steak Japan Within those steaks, Kobe beef
                                    is one of a best beef steaks in Japan which are.There are lots of famous and delicious beef steak Japan Within those steaks, Kobe beef is one of a best beef steaks in Japan which are. </p>
                            </div>
                            <div class="Preferences">
                                <h3> Preferences </h3>
                                <p> Allergies, Extra Spicy etc. </p>
                            </div>
                            <div class="Kitchen_info">
                                <h3> Kitchen Info </h3>
                                <img class="k_logo" src="assets/images/kitchen_logo.png" alt="">
                                <h2> Bbq's Special Veggie Salad
                                    <p> <i class="fa fa-info-circle" aria-hidden="true"></i> Report to Admin </p>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="food_cart_mrnuaside">
                    <div class="food_order_bill">
                        <div class="order_topsec">
                            <h3 class="theme_color">Cart</h3>
                            <!-- <figure>
                              <img src="../../../assets/images/cartpage/cart.png" alt="cart">
                          </figure> -->
                        </div>
                        <div class="order_location_field">
                            <label>Your address</label>
                            <div class="location_order">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="9631 Semper Ave Astoria" name="name">
                                </mat-form-field>
                                <span>
                                  <figure>
                                      <img src="../../../assets/images/cartpage/map.png" alt="map">
                                  </figure>
                              </span>
                            </div>
                        </div>
                        <div class="order_bill_item">
                            <ul>
                                <li>
                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Egg Spi...
                                        <div class="orderadd_cart_box">
                                            <a>-</a>
                                            <p>01</p>
                                            <a>+</a>
                                        </div>
                                    </h3>
                                    <h5> Indian Cafe House </h5>

                                    <h4> $7.90 </h4>
                                </li>
                                <li>
                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Egg Spi...
                                        <div class="orderadd_cart_box">
                                            <a>-</a>
                                            <p>01</p>
                                            <a>+</a>
                                        </div>
                                    </h3>
                                    <h5> Indian Cafe House </h5>

                                    <h4> $7.90 </h4>
                                </li>
                                <li>
                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Egg Spi...
                                        <div class="orderadd_cart_box">
                                            <a>-</a>
                                            <p>01</p>
                                            <a>+</a>
                                        </div>
                                    </h3>
                                    <h5> Indian Cafe House </h5>

                                    <h4> $7.90 </h4>
                                </li>
                                <li>
                                    <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt=""> Healthy Egg Spi...
                                        <div class="orderadd_cart_box">
                                            <a>-</a>
                                            <p>01</p>
                                            <a>+</a>
                                        </div>
                                    </h3>
                                    <h5> Indian Cafe House </h5>

                                    <h4> $7.90 </h4>
                                </li>
                                <button class="theme_btn btn_100" (click)="goTocart()">Proceed to checkout</button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
