<app-header></app-header>
<div class="order_detail_main cart all_sec_my">
    <div class="container">
        <div class="orderdetail_inner">
            <div class="form_orderdetail">
                <div class="orderdetail_form">
                    <h3>Address Details</h3>
                    <ul>
                        <li>
                            <input matInput type="text" placeholder="Full name" name="name">
                        </li>
                        <li>
                            <input matInput type="tel" placeholder="Phone Number" name="name">
                        </li>
                        <li class="li2">
                            <input matInput type="email" placeholder="Email Address" name="name">
                        </li>
                        <li>
                            <input matInput type="text" placeholder="Street Name" name="name">
                        </li>
                        <li>
                            <input matInput type="tel" placeholder="Location" name="name">
                            <div class="location_icon">
                                <figure>
                                    <img src="../../../assets/images/location.png" alt="">
                                </figure>
                            </div>
                        </li>
                        <li class="li2">
                            <input matInput type="number" placeholder="PinCode/Zipcode" name="name">
                        </li>
                    </ul>
                    <ul class="select_slot">
                        <h3> Select Slot </h3>
                        <li>
                            <p> 5:00 AM - 7:00 AM </p>
                        </li>
                        <li class="active">
                            <p> 7:00 AM - 9:00 AM </p>
                        </li>
                        <li>
                            <p> 9:00 AM - 11:00 AM </p>
                        </li>
                        <li>
                            <p> 5:00 AM - 7:00 AM </p>
                        </li>
                        <li>
                            <p> 7:00 AM - 9:00 AM </p>
                        </li>
                        <li>
                            <p> 9:00 AM - 11:00 AM </p>
                        </li>
                    </ul>
                    <div class="payment_last">
                        <h3>Payment Method</h3>
                        <ul class="pay_type">
                            <li class="active">
                                <div class="card1">
                                    <svg id="Icon_ionic-ios-card" data-name="Icon ionic-ios-card" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.198 31.57">
                                <path id="Path_28752" data-name="Path 28752" d="M46.448,9.907A3.166,3.166,0,0,0,43.291,6.75H5.407A3.166,3.166,0,0,0,2.25,9.907v4.736h44.2Z" transform="translate(-2.25 -6.75)"/>
                                <path id="Path_28753" data-name="Path 28753" d="M2.25,31.535a3.166,3.166,0,0,0,3.157,3.157H43.291a3.166,3.166,0,0,0,3.157-3.157V15.75H2.25ZM16.259,26.8h16.18a1.385,1.385,0,0,1,1.381,1.381h0a1.385,1.385,0,0,1-1.381,1.381H16.259a1.385,1.385,0,0,1-1.381-1.381h0A1.385,1.385,0,0,1,16.259,26.8Zm-7.1,0H10.34a1.385,1.385,0,0,1,1.381,1.381h0a1.385,1.385,0,0,1-1.381,1.381H9.156a1.385,1.385,0,0,1-1.381-1.381h0A1.385,1.385,0,0,1,9.156,26.8Z" transform="translate(-2.25 -3.122)"/>
                              </svg>
                                    <p> Card </p>
                                    <div class="check">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30.18" height="30.18" viewBox="0 0 30.18 30.18">
                                        <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)" fill="#ff5a61"/>
                                      </svg>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.272 30.714">
                                  <path id="Icon_metro-paypal" data-name="Icon metro-paypal" d="M15.7,19.6h2.831c6.15,0,9.639-2.769,10.75-8.463.036-.188.068-.369.1-.549a9.01,9.01,0,0,0,.106-1.065c.01-.229.017-.363.015-.49a4.511,4.511,0,0,0-.369-1.773A6.1,6.1,0,0,0,28.078,5.69c-1.455-1.655-3.991-2.606-7.02-2.606H11.413A1.381,1.381,0,0,0,10.05,4.25L8.309,15.462,6.144,29.429a.829.829,0,0,0,.819.957h4.73l1.449-8.6A2.577,2.577,0,0,1,15.7,19.6ZM31.228,11.77c-1.351,6.434-5.728,9.849-12.7,9.849H15.7a.565.565,0,0,0-.56.481L13.251,33.8h4.96A1.207,1.207,0,0,0,19.4,32.78l.049-.256.947-6,.061-.331a1.207,1.207,0,0,1,1.193-1.019H22.4c4.863,0,8.67-1.976,9.782-7.689.457-2.355.225-4.324-.959-5.72Z" transform="translate(-6.134 -3.085)"/>
                                </svg>
                                    <p> PayPal </p>
                                    <div class="check">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30.18" height="30.18" viewBox="0 0 30.18 30.18">
                                      <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)" fill="#ff5a61"/>
                                    </svg>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.825 34.847">
                                <path id="Icon_awesome-wallet" data-name="Icon awesome-wallet" d="M35.873,9.717H6.223a1.245,1.245,0,0,1,0-2.489H36.091a1.244,1.244,0,0,0,1.245-1.245A3.734,3.734,0,0,0,33.6,2.25H4.978A4.978,4.978,0,0,0,0,7.228V32.119A4.978,4.978,0,0,0,4.978,37.1h30.9a3.851,3.851,0,0,0,3.951-3.734V13.451A3.851,3.851,0,0,0,35.873,9.717ZM32.358,25.9a2.489,2.489,0,1,1,2.489-2.489A2.489,2.489,0,0,1,32.358,25.9Z" transform="translate(0 -2.25)"/>
                              </svg>
                                    <p> Wallet </p>
                                    <div class="check">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30.18" height="30.18" viewBox="0 0 30.18 30.18">
                                      <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)" fill="#ff5a61"/>
                                    </svg>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="pay_Card">
                            <li class="active">
                                <div class="card1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30.18" height="30.18" viewBox="0 0 30.18 30.18">
                                  <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)"/>
                                </svg>
                                    <div class="card_input">
                                        <h2> XXXX-XXXX-XXXX-0057
                                            <ul>
                                                <li class="expiry">
                                                    <input type="text" placeholder="Expiry Date">
                                                </li>
                                                <li class="cvv">
                                                    <input type="text" placeholder="CVV">
                                                    <i class="fa fa-question-circle"></i>
                                                </li>
                                            </ul>
                                        </h2>
                                        <figure> <img src="assets/images/visa.png" alt=""> </figure>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30.18" height="30.18" viewBox="0 0 30.18 30.18">
                                <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)"/>
                              </svg>
                                    <div class="card_input">
                                        <h2> XXXX-XXXX-XXXX-0057
                                            <ul>
                                                <li class="expiry">
                                                    <input type="text" placeholder="Expiry Date">
                                                </li>
                                                <li class="cvv">
                                                    <input type="text" placeholder="CVV">
                                                    <i class="fa fa-question-circle"></i>
                                                </li>
                                            </ul>
                                        </h2>
                                        <figure> <img src="assets/images/visa.png" alt=""> </figure>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30.18" height="30.18" viewBox="0 0 30.18 30.18">
                              <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)"/>
                            </svg>
                                    <div class="card_input">
                                        <h2> XXXX-XXXX-XXXX-0057
                                            <ul>
                                                <li class="expiry">
                                                    <input type="text" placeholder="Expiry Date">
                                                </li>
                                                <li class="cvv">
                                                    <input type="text" placeholder="CVV">
                                                    <i class="fa fa-question-circle"></i>
                                                </li>
                                            </ul>
                                        </h2>
                                        <figure> <img src="assets/images/visa.png" alt=""> </figure>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30.18" height="30.18" viewBox="0 0 30.18 30.18">
                            <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle" d="M30.742,15.652A15.09,15.09,0,1,1,15.652.563,15.09,15.09,0,0,1,30.742,15.652Zm-16.835,7.99,11.2-11.2a.974.974,0,0,0,0-1.377L23.726,9.693a.974.974,0,0,0-1.377,0l-9.13,9.13L8.956,14.561a.974.974,0,0,0-1.377,0L6.2,15.937a.974.974,0,0,0,0,1.377l6.328,6.328a.974.974,0,0,0,1.377,0Z" transform="translate(-0.563 -0.563)"/>
                          </svg>
                                    <div class="card_input">
                                        <h2> Credit Card/Debit Card </h2>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="order_summary_main">
                    <div class="food_cart_mrnuaside food_cart_aside2">
                        <div class="food_order_bill">
                            <div class="order_topsec">
                                <h3> <span class="theme_color"> Cart </span> </h3>
                                <ul>
                                    <li class="active"> Delivery </li>
                                    <li> Pickup </li>
                                </ul>
                            </div>
                            <div class="order_bill_item">
                                <ul>
                                    <li>
                                        <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt="">
                                            <span> Healthy Eggless Spinach Salad </span>
                                            <div class="orderadd_cart_box">
                                                <a>-</a>
                                                <p>01</p>
                                                <a>+</a>
                                            </div>
                                        </h3>
                                        <h5> Indian Cafe House </h5>

                                        <h4> $7.90 </h4>
                                    </li>
                                    <li>
                                        <h3> <img class="veg_icon" src="assets/images/veg_icon.png" alt="">
                                            <span> Healthy Eggless Spinach Salad </span>
                                            <div class="orderadd_cart_box">
                                                <a>-</a>
                                                <p>01</p>
                                                <a>+</a>
                                            </div>
                                        </h3>
                                        <h5> Indian Cafe House </h5>

                                        <h4> $7.90 </h4>
                                    </li>
                                </ul>
                                <div class="form-group search_field">
                                    <input class="form-control" type="text" placeholder="Coupon Code">
                                    <button type="submit"> Apply </button>
                                </div>
                                <div class="cart_total">
                                    <h3>Cart Totals </h3>
                                    <ul>
                                        <li>
                                            <p>Sub total</p> <span> $10.40 </span> </li>
                                        <li>
                                            <p>Delivery fee</p> <span> $0.50 </span> </li>
                                        <li>
                                            <p>Service fee</p> <span> $0.50 </span> </li>
                                        <li>
                                            <p>Grand total</p> <span> $11.40 </span> </li>
                                    </ul>
                                </div>
                                <div class="Instruction_textarea">
                                    <label>Special Instructions</label>
                                    <textarea placeholder="Add some green chillies and send extra salad" rows="5"></textarea>
                                </div>
                                <button class="theme_btn btn_100" type="button" data-toggle="modal" data-target="#myModal"> Confirm And Pay $11.90 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal payment_modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <figure> <img src="assets/images/pay_success.svg" alt=""> </figure>
                <h3> Congratulations! </h3>
                <h2> Payment Successful </h2>
                <p> Your payment has been success. Please keep patience till get your foods </p>
                <button class="theme_btn btn_100"> Back To Home </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
