<div class="body_wrapper notification_top">
    <app-header></app-header>
    <div class="payment all_sec_my">
        <div class="conta_iner">
            <div class="payment_inner">
                <div class="sub_main_heading">
                    <h2>Payment</h2>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./homepage">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="payment">Payment</li>
                    </ol>
                </nav>
                <ul class="payment_list">
                    <li>
                        <div class="list_inner">
                            <mat-checkbox>Mark as default</mat-checkbox>
                            <div class="card_detail">
                                <div>
                                    <h3>•••• •••• •••• 4561<span>Mastercard - 06/23</span></h3>
                                </div>
                                <div><button>Delete</button></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <mat-checkbox>Mark as default</mat-checkbox>
                            <div class="card_detail">
                                <div>
                                    <h3>•••• •••• •••• 4561<span>Visa - 08/22</span></h3>
                                </div>
                                <div><button>Delete</button></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <mat-checkbox>Mark as default</mat-checkbox>
                            <div class="card_detail">
                                <div>
                                    <h3>•••• •••• •••• 4561<span>Mastercard - 06/23</span></h3>
                                </div>
                                <div><button>Delete</button></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <mat-checkbox>Mark as default</mat-checkbox>
                            <div class="card_detail">
                                <div>
                                    <h3>•••• •••• •••• 4561<span>Visa - 08/22</span></h3>
                                </div>
                                <div><button>Delete</button></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="payment_btn">
                    <button mat-raised-button (click)="openDialog()">Add new credit/debit card</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>